# Copy this file to .env and update the values to your own

# The port with which to externally access the server
APP_PORT='' # default: 5017

# Database credentials
DATABASE_USERNAME=''
DATABASE_PASSWORD=''
DATABASE_NAME='liveseries'
# This should be sufficient, but you can change this if you need to
DATABASE_URL="postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@db:5432/${DATABASE_NAME}"

# You can override this if you have a torrent server elsewhere
# This is for adding/removing torrents, but you will still need access to the downloaded files
# Do not change unless you know what you are doing!
TRANSMISSION_URL='' # default: http://localhost:9091/transmission/rpc

# For Transmission torrent client
TR_USER=''
TR_PASSWORD=''
# If you change this and are not using docker compose, you will additionally
# need to manually configure Transmission to download files to this location
# This is the default download location for Transmission on most GNU/Linux distributions
TR_DOWNLOAD_PATH='' # default: /var/lib/transmission-daemon/downloads
# These options have no effect on manual installations (only for docker compose)
TR_CONFIG_PATH='' # default: /var/lib/transmission-daemon/config
TR_WATCH_PATH=''  # default: /var/lib/transmission-daemon/watch

# For OpenSubtitles API -- you will need to register an account on their site for this
# https://www.opensubtitles.com/en/consumers
# Important: check "under dev" for a free key of up to 100 daily downloads
SUBTITLES_API_KEY_DEV=''
# If you need more than 100 downloads per day you can try configuring these instead
# of the above (not recommended). Otherwise, you can safely ignore these settings
SUBTITLES_API_KEY=''
SUBTITLES_API_USER=''
SUBTITLES_API_PASSWORD=''

# If set to `true`, authentication middleware will silently pass through unauthenticated
# requests, or authenticated requests to otherwise restricted resources
DANGEROUSLY_DISABLE_AUTHENTICATION='' # default: false
# If set to `true`, the whitelist will be disabled, allowing all authenticated users to access the server
DANGEROUSLY_DISABLE_WHITELIST='' # default: false
# Set both of the above options to `true` if you want the server to be
# publicly accessible, even without a Guzek UK account (very insecure!)

# If set to `true`, will allow all requests made from the local private network to bypass
# authentication (enable if you want to access the server from your LAN without logging in)
ALLOW_UNAUTHENTICATED_LAN_REQUESTS='' # default: false

# If set to `true`, will allow all GET requests to bypass authentication (allows video streaming without logging in)
ALLOW_UNAUTHENTICATED_GET_REQUESTS='' # default: false
