# Copy this file to .env and update the values to your own
# The provided values are the default when not set

# Database credentials
MY_SQL_DB_HOST='127.0.0.1'
MY_SQL_DB_USER='root'
MY_SQL_DB_PASSWORD=''
MY_SQL_DB_PORT='3306'
MY_SQL_DB_NAME='database'
MY_SQL_DB_CONNECTION_LIMIT='4'

# You can override this if you have a torrent server elsewhere
TRANSMISSION_URL='http://localhost:9091/transmission/rpc'

# For Transmission torrent client
# Format: 'username:password', e.g. 'john:12345678'
TR_AUTH=''

# For OpenSubtitles API
SUBTITLES_API_KEY=''
SUBTITLES_API_USER=''
SUBTITLES_API_PASSWORD=''
